body {
  height: 100%;
  width: 100%;

  font-family: arial;
  background-color:rgb(25, 25, 25) ;
  color: white;
}
main {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 24px;
  font-weight: 600;
}
.move-icon{
  height: 40px;
}
.move-button {
  background-color: transparent;
  border: 2px solid white;
  height: 90px;
  width: 90px ;
  border-radius: 60px;
  margin-right: 10px;
}
.result {
  font-size: 18px;
  font-weight: 600;
}
.move {
  font-size: 13px;
  margin-bottom: 50px;
}
.score {
  font-size: 13px;
}
.reset-button,
.auto-play-button,
button {
  cursor: pointer;
  background-color: white;
  border: none;
  font-size: 12px;
  padding: 6px 12px;
}